:root{
    --nav-bar-height: 120px;
}

html
{
    min-width: 320px;
    overscroll-behavior: smooth;
    margin:0;
}

body
{
    font-family: 'Baloo Da 2', helvetica;
    margin: 0px;
    min-width: 320px;
    line-height: 26px;
    font-size: 19px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    color:#666;
}

body
{
    font-size: 10px;
    line-height: 1.4;
}

button:focus
{
    outline:none;
}

.block
{
    display: block;
}

.flex{
    display:flex;
}

.no-pointer
{
    pointer-events: none !important;
}

.no-padding-top
{
    padding-top: 0px !important;
}

.button
{
    user-select: none;
}

a
{
    text-decoration: none;
    color: inherit;
}

a[href],
a.logout
{
    cursor:pointer !important;
}

[data-tooltip]
{
    cursor: default;
}

body.load-transition-ready
{
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

body.unloading
{
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transform: none;
}

*
{
    /*-webkit-overflow-scrolling: touch;*/
    position: relative;
    box-sizing: border-box;
    text-size-adjust: none;
}

h1, h2
{
    margin: 0px;
    padding: 20px 0px;
}

p
{
    margin: 0px;
    padding: 20px 0px;
}

img,
iframe
{
    max-width: 100%;
}

.clear:before,
.clear:after
{
    content: " ";
    display: table;
}

br.clear
{
    clear: both;
}

.clear:after
{
    clear: both;
}

.clear
{
    *zoom: 1;
}

.prototype,
.hidden
{
    display: none !important;
}

.center,
.description.center
{
    text-align: center;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.half
{
    width: 50%;
}

.zoom
{
    cursor: zoom-in;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.zoomed-image
{
    transition: all 0.1s ease-out !important;
    -webkit-transition: all 0.1s ease-out !important;
    transition-delay: 0s !important;
    cursor: zoom-out;
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.85);
    z-index: 340 !important;
}

.zoomed-image.active
{
    transform: none;
}

.zoomed-image img
{
    max-width: 80%;
    max-height: 80%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.page
{
    z-index: 1;
}

.page-content
{
    margin: 0px auto;
    max-width: 410px;
}

.page-content.possible-x-overflow
{
    overflow-x: hidden;
}

@media( min-width:1024px ){

    .page-content
    {
        margin: 0px auto;
        max-width: 1024px;
    }

}



button
{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size:10px;
    background: #f5f5f5;
    border-bottom: 2px solid rgba( 0,0,0,0 );
    transition:all 0.1s ease-in;
    -webkit-transition:all 0.1s ease-in;
}

@media(hover:hover){
 
    button:hover
    {
        background:#eaeaea;
    }

}

button:active
{
    background:#d5d5d5;
    transition:all 0.05s ease-out;
    -webkit-transition:all 0.05s ease-out;
}

button.cta
{
    background:linear-gradient(141deg, rgba(249,86,179,1) 0%, rgba(235,123,22,1) 100%);
    border-bottom-color: #bd5c0e;
    color:#fff;
    z-index:10;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

@media(hover:hover){

    button.cta:hover
    {
        /*background:rgba(235,123,22,1);*/
        background:linear-gradient(141deg, rgb(234 78 167) 0%, rgb(220 113 16) 100%);
    }

}

button.dark
{
    background: inherit;
    color: #222;
}

@media(hover:hover){

    button.dark:hover
    {
        background:rgba( 255,255,255,0.1 );
        border-bottom: 2px solid rgba( 255,255,255,0.1 );
    }

}

button.dark:active
{
    background:rgba( 255,255,255,0.2 );
}

@media( min-width:1023px ){

    button
    {
        padding: 7px 14px;
        font-size:13px;
    }

}

a.loading
{
    color:#888 !important;
    pointer-events:none;
    text-decoration:none;
}

button.loading
{
    cursor:default;
    pointer-events:none;
    -webkit-filter:grayscale(1);
    filter:grayscale(1);
    transition:all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;
}

button.loading:before
{
    display:block;
}

@media ( min-width: 1024px )
{

    .mobile
    {
        display: none !important;
    }

}

@media ( max-width: 1023px )
{

    .desktop
    {
        display: none !important;
    }

}

@media ( min-width: 640px )
{

    .mobile-non-tablet
    {
        display: none;
    }

}

@media ( max-width: 639px )
{

    .desktop-and-tablet
    {
        display: none;
    }

}

@media ( min-width: 1024px )
{

    .desktop-left
    {
        float: left;
    }

    .desktop-right
    {
        float: right;
    }

}


.header {
    padding: 20px 0px;
    overflow: hidden;
    z-index: 101;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--nav-bar-height);
}

.footer, .header {
    background: #fff;
    color: #222;
    padding: 10px 0px;
    font-family: "Baloo 2";
    z-index: 40;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

