:root {
  --nav-bar-height: 126px;
  --grey-color: #f5f5f5;
  --base-color: #666;
  --dark-gray-color: #7c7b7b;
  --dark-gray-color-2: #555;
}

html {
  min-width: 320px;
  overscroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Baloo Da 2", helvetica;
  margin: 0px;
  min-width: 320px;
  line-height: 26px;
  font-size: 19px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  color: var(--base-color);
}

body {
  font-size: 12px;
  line-height: 1.4;
}

button:focus {
  outline: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.no-pointer {
  pointer-events: none !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-select {
  user-select: none;
}

.button {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.orange {
  color: #e63b22;
}

.grey .shape-fill {
  fill: var(--grey-color);
}

.grey-section {
  background: var(--grey-color);
  padding-top: 35px;
  text-shadow: 0px 1px 0px rgb(255 255 255 / 30%);
}

.custom-shape-divider-bottom-1619963648 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

a[href],
a.logout {
  cursor: pointer !important;
}

[data-tooltip] {
  cursor: default;
}

body.load-transition-ready {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

body.unloading {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transform: none;
}
body:not(.logged-in) .logged-in-dependant {
  display: none !important;
}

* {
  /*-webkit-overflow-scrolling: touch;*/
  position: relative;
  box-sizing: border-box;
  text-size-adjust: none;
}

h1,
h2 {
  margin: 0px;
  padding: 20px 0px;
}

p {
  margin: 0px;
  padding: 20px 0px;
}

img,
iframe {
  max-width: 100%;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

br.clear {
  clear: both;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

.prototype,
.hidden {
  display: none !important;
}

.center,
.description.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  width: 50%;
}

.zoom {
  cursor: zoom-in;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.white-section {
  background: #fff;
}

.zoomed-image {
  transition: all 0.1s ease-out !important;
  -webkit-transition: all 0.1s ease-out !important;
  transition-delay: 0s !important;
  cursor: zoom-out;
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.85);
  z-index: 340 !important;
}

.zoomed-image.active {
  transform: none;
}

.zoomed-image img {
  max-width: 80%;
  max-height: 80%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.page {
  z-index: 1;
}

.page-content {
  margin: 0px auto;
  max-width: 410px;
  padding: 0px 15px;
}

.page-content.possible-x-overflow {
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .page-content {
    margin: 0px auto;
    max-width: 1024px;
  }
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  background: var(--grey-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}

@media (hover: hover) {
  button:hover {
    background: #eaeaea;
  }
}

button:active {
  background: #d5d5d5;
  transition: all 0.05s ease-out;
  -webkit-transition: all 0.05s ease-out;
}

button.cta {
  background: linear-gradient(
    141deg,
    rgba(249, 86, 179, 1) 0%,
    rgba(235, 123, 22, 1) 100%
  );
  border-bottom-color: #bd5c0e;
  color: #fff;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (hover: hover) {
  button.cta:hover {
    /*background:rgba(235,123,22,1);*/
    background: linear-gradient(
      141deg,
      rgb(234 78 167) 0%,
      rgb(220 113 16) 100%
    );
  }
}

button.dark {
  background: inherit;
  color: #222;
}

@media (hover: hover) {
  button.dark:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
}

button.dark:active {
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 1023px) {
  button {
    padding: 7px 14px;
    font-size: 13px;
  }
}

a.loading {
  color: #888 !important;
  pointer-events: none;
  text-decoration: none;
}

button.loading {
  cursor: default;
  pointer-events: none;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

button.loading:before {
  display: block;
}

@media (min-width: 1024px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .mobile-non-tablet {
    display: none;
  }
}

@media (max-width: 639px) {
  .desktop-and-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }
}

.header {
  padding: 20px 0px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--nav-bar-height);
  padding: 10px 10px;
}

.footer,
.header {
  background: #fff;
  color: #222;
  padding: 10px 0px;
  font-family: "Baloo 2";
  z-index: 40;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

.footer .company,
.footer .links {
  margin: 15px 5px;
}

.header .company {
  user-select: none;
}

.footer .company {
  margin-left: 0px;
}

.footer .company,
.header .company {
  letter-spacing: 0.5px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.footer .company b,
.header .company b {
  margin-left: 3px;
  color: #e63b22;
  font-weight: normal;
}

.footer .company .slogan,
.header .company .slogan {
  font-family: "Open Sans";
  font-size: 8px;
  margin-left: 5px;
  letter-spacing: 0px;
  color: var(--dark-gray-color-2);
  cursor: default;
}

.footer .company .slogan {
  display: block;
  margin-top: 10px;
}

.footer .logo,
.header .logo {
  height: 38px;
  vertical-align: middle;
  top: -1px;
  margin-right: 10px;
}

.footer .logo:not(svg),
.header .logo:not(svg) {
  padding: 5px;
  top: 1px;
}

.header .actions button {
  top: 0px;
  font-size: 12px;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  vertical-align: top;
  line-height: 18px;
  height: 34px;
  border: 1px solid transparent;
}

.header .actions button:hover {
  border-bottom-color: #ccc;
}

.header .actions button.logout {
  padding: 2px 4px;
  margin-left: 5px;
}

.header .actions button.logout img {
  height: 13px;
  top: 0.5px;
}

button.cta {
  background: #e65222;
  color: #fff;
  border: none;
}

button.cta:hover {
  background: #d64212;
  color: #fff;
}

button.cta:active {
  background: #c63202;
  color: #fff;
}

.header .actions {
  justify-content: center;
  flex-wrap: wrap;
}

.header .actions a[href*="csapjunk-bele"] {
  flex-basis: 100%;
}
.header .actions a[href*="csapjunk-bele"] button.not-logged-in-dependant {
  width: 100%;
}

main [class*="request-specific-page-"] {
  margin-top: var(--nav-bar-height);
  padding-top: 25px;
}

main .activity {
  line-height: 35px;
  background: var(--grey-color);
  padding: 20px 0px;
  font-family: "Open sans";
  color: var(--dark-gray-color);
  font-size: 0.9em;
}

main .activity .presents {
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  .activity .stats:before {
    content: "";
    position: absolute;
    left: 790px;
    right: 0px;
    top: 18px;
    border-top: 1px solid #ccc;
  }
}

.how-it-works {
  padding: 0px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 8.4px;
  line-height: 12px;
  overflow: hidden;
}

.how-it-works .flow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works .step {
  display: inline-block;
  vertical-align: top;
  max-width: 30ch;
  color: var(--dark-gray-color-2);
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
}

.how-it-works .step b {
  font-family: "Baloo Da 2";
  font-size: 15px;
}

.how-it-works .step u {
  display: block;
  margin-top: 10px;
}

.how-it-works .step img {
  height: 96px;
}

.how-it-works img[src*="arrow"] {
  transform: rotate(90deg);
}

@media (min-width: 1024px) {
  .how-it-works {
    padding-top: 30px;
    padding-bottom: 70px;
    line-height: 23px;
    font-size: inherit;
  }

  .how-it-works .flow {
    margin-left: -55px;
    margin-right: -55px;
  }

  .how-it-works .step {
    width: 215px;
    margin: 30px 57px;
  }

  .how-it-works .step:nth-of-type(1) {
    top: -10px;
  }

  .how-it-works .step:nth-of-type(2) {
    top: 25px;
  }

  .how-it-works .step:nth-of-type(3) {
    top: -10px;
  }

  .how-it-works img[src*="arrow"] {
    width: 140px;
    margin-left: -40px;
    margin-right: -40px;
    top: 10px;
    left: 5px;
  }

  .how-it-works img[src*="arrow-inverted"] {
    top: 30px;
    left: -10px;
  }
}

main .methodology .info-card-container {
  display: flex;
  flex-direction: column;
}
main .methodology .info-card-container .card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
main .methodology .info-card-container .card .text {
  margin-left: 20px;
}

main .methodology .info-card-container .card .title {
  color: var(--dark-gray-color-2);
  margin-bottom: 10px;
}

.methodology .info-card-container .card .description {
  font-family: "Open sans";
  font-size: 1em;
}
