:root {
  --nav-bar-height: 58px;
  --grey-color: #f5f5f5;
  --base-color: #666;
  --base-color-2: #e66222;
  --dark-gray-color: #7c7b7b;
  --dark-gray-color-2: #555;
  --separator-gray: #ccc;
  --base-font-size: 12px;
  --base-line-height: 1.4;
  --logo-icon-height: 38px;
  --logo-icon-width: 25px;
  --spinner-height: 200px;
  --section-y-padding: 40px;
}

@media (min-width: 1024px) {
  :root {
    --nav-bar-height: 58px;
    --base-font-size: 14px;
    --base-line-height: 21px;
  }
}

html {
  min-width: 320px;
  -ms-scroll-chaining: smooth;
      overscroll-behavior: smooth;
  margin: 0;
  font-size: var(--base-font-size);
}

body {
  font-family: "Baloo Da 2", helvetica;
  margin: 0px;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  color: var(--base-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

button:focus {
  outline: none;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-pointer {
  pointer-events: none !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.description {
  font-size: 0.9rem;
}
.description b {
  font-size: 0.9rem;
}

.sticks {
  margin: 0;
  cursor: pointer;
  width: var(--logo-icon-width);
}

.sticks .stick {
  height: 3px;
  background: var(--base-color-2);
}

.sticks .stick:not(:last-of-type) {
  margin-bottom: 4px;
}

button.main {
  padding: 20px 60px;
  width: 270px;
  margin: 0px auto;
  background: rgb(2, 0, 36);
  background: -o-linear-gradient(
    299deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(230 75 34) 0%,
    rgb(230 110 34) 100%
  );
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(230 75 34) 0%,
    rgb(230 110 34) 100%
  );
  text-transform: uppercase;
  line-height: 30px;
  color: #fff;
  font-size: 17px;
  border-width: 2px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  font-family: "Baloo 2";
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

button.main img {
  height: 18px;
  top: 4px;
  margin-right: 12px;
}

button.main:hover {
  background: rgba(235, 123, 22, 1);
  background: -o-linear-gradient(
    299deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(210 55 14) 0%,
    rgb(230 110 34) 100%
  );
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(210 55 14) 0%,
    rgb(230 110 34) 100%
  );
}

button.main:active {
  background: rgba(215, 103, 02, 1);
  background: -o-linear-gradient(
    299deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(196 41 0) 0%,
    rgb(230 110 34) 100%
  );
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(196 41 0) 0%,
    rgb(230 110 34) 100%
  );
}

button.main .border-decoration {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 4px;
  left: 5px;
  right: 5px;
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

@-webkit-keyframes buttonTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
    opacity: 1;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes buttonTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
    opacity: 1;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes buttonBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
    opacity: 1;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes buttonBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
    opacity: 1;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

button:before, a::before,
button:after, a:after {
  position: absolute;
  content: "";
  display: block;
  width: 150%;
  height: 200%;
  left: -25%;
  opacity: 0.9;
  z-index: 0;
  background: transparent;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  pointer-events: none;
}

button:before, a:before {
  display: none;
  top: -110%;
  background-image: -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, transparent 20%, #e65222 20%, transparent 30%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%);
  background-image: radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #e65222 20%, transparent 30%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%);
    background-size: 20px 20px, 40px 40px, 30px 30px, 40px 40px, 36px 36px,
    20px 20px, 30px 30px, 20px 20px, 36px 36px;
}

button:after, a:after {
  display: none;
  bottom: -110%;
  background-image: -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%),
    -o-radial-gradient(circle, #e65222 20%, transparent 20%);
  background-image: radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%);
    background-size: 30px 30px, 40px 40px, 36px 36px, 40px 40px, 30px 30px,
    20px 20px, 40px 40px;
}

@media (min-width: 1024px) {
  button:before {
    background-size: 20px 20px, 40px 40px, 30px 30px, 40px 40px, 36px 36px,
      20px 20px, 30px 30px, 20px 20px, 36px 36px;
  }

  button:after {
    background-size: 30px 30px, 40px 40px, 36px 36px, 40px 40px, 30px 30px,
      20px 20px, 40px 40px;
  }
}

button.animate:before, a.animate:before  {
  display: block;
  -webkit-animation: buttonTopBubbles ease-out 0.75s forwards;
          animation: buttonTopBubbles ease-out 0.75s forwards;
}

button.animate:after, a.animate:after {
  display: block;
  -webkit-animation: buttonBottomBubbles ease-out 0.75s forwards;
          animation: buttonBottomBubbles ease-out 0.75s forwards;
}

a {
  text-decoration: none;
  color: inherit;
}

.orange {
  color: #e63b22;
}

.grey .shape-fill {
  fill: var(--grey-color);
}

.shape-fill {
  fill: #fff;
}

.grey-section {
  background: var(--grey-color);
  padding-top: var(--section-y-padding);
  padding-bottom: var(--section-y-padding);
  text-shadow: 0px 1px 0px rgb(255 255 255 / 30%);
}

.white-section h2 {
  background: #fff;
  margin-top: 30px;
}

.custom-shape-divider-bottom-1619963648 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.custom-shape-divider-bottom-1619963648 svg {
  height: 18px;
  width: 100%;
}

.custom-shape-divider-bottom-1619960535 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619960535 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619960535 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 29px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

a[href='#menu']{
  padding: 5px;
}

a[href],
a.logout {
  cursor: pointer !important;
}

[data-tooltip] {
  cursor: default;
}

body.load-transition-ready {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

body.unloading {
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
body:not(.logged-in) .logged-in-dependant {
  display: none !important;
}

* {
  /*-webkit-overflow-scrolling: touch;*/
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

h1,
h2 {
  margin: 0px;
  padding: 20px 0px;
  font-family: "Baloo 2", helvetica;
}

h2 {
  font-size: 14px;
  margin-top: 20px;
  background: var(--grey-color);
  font-size: 12px;
  font-weight: normal;
  margin: 0px auto;
  max-width: 580px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .h2-wrapper:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 74px;
    border-top: 1px solid #ccc;
  }

  h2 {
    font-size: 19px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

p {
  margin: 0px;
  padding: 20px 0px;
}

img,
iframe {
  max-width: 100%;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

br.clear {
  clear: both;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

.prototype,
.hidden {
  display: none !important;
}

.center,
.description.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  width: 50%;
}

.zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.white-section {
  background: #fff;
}

.zoomed-image {
  -o-transition: all 0.1s ease-out !important;
  transition: all 0.1s ease-out !important;
  -webkit-transition: all 0.1s ease-out !important;
  -webkit-transition-delay: 0s !important;
       -o-transition-delay: 0s !important;
          transition-delay: 0s !important;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(0, 0, 0, 0.85);
  z-index: 340 !important;
}

.zoomed-image.active {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.zoomed-image img {
  max-width: 80%;
  max-height: 80%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.page {
  z-index: 1;
}

.page-content {
  margin: 0px auto;
  max-width: 410px;
  padding: 0px 15px;
}

.header .page-content {
  max-width: none;
}

.page-content.possible-x-overflow {
  overflow-x: hidden;
}

@media (min-width: 640px) {
  .page-content {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .page-content {
    max-width: 1024px;
  }

  .header .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1024px;
  }

  footer .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .page-content .company {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  background: var(--grey-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}

@media (hover: hover) {
  button:hover {
    background: #eaeaea;
  }
}

button:active {
  background: #d5d5d5;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  -webkit-transition: all 0.05s ease-out;
}

button.cta {
  background: -o-linear-gradient(
    309deg,
    rgba(249, 86, 179, 1) 0%,
    rgba(235, 123, 22, 1) 100%
  );
  background: linear-gradient(
    141deg,
    rgba(249, 86, 179, 1) 0%,
    rgba(235, 123, 22, 1) 100%
  );
  border-bottom-color: #bd5c0e;
  color: #fff;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (hover: hover) {
  button.cta:hover {
    /*background:rgba(235,123,22,1);*/
    background: -o-linear-gradient(
      309deg,
      rgb(234 78 167) 0%,
      rgb(220 113 16) 100%
    );
    background: linear-gradient(
      141deg,
      rgb(234 78 167) 0%,
      rgb(220 113 16) 100%
    );
  }
}

button.dark {
  background: inherit;
  color: #222;
}

@media (hover: hover) {
  button.dark:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
}

button.dark:active {
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 1023px) {
  button {
    padding: 7px 14px;
    font-size: 13px;
  }
}

a.loading {
  color: #888 !important;
  pointer-events: none;
  text-decoration: none;
}

button.loading {
  cursor: default;
  pointer-events: none;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

button.loading:before {
  display: block;
}

@media (min-width: 1024px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .mobile-non-tablet {
    display: none;
  }
}

@media (max-width: 639px) {
  .desktop-and-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }
}

.header {
  padding: 20px 0px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--nav-bar-height);
  padding: 10px 10px;
}

.footer,
.header {
  background: #fff;
  color: #222;
  padding: 10px 0px;
  font-family: "Baloo 2";
  z-index: 40;
  -webkit-box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
          box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

.footer .links > a{
  padding: 0px 5px;
}

.footer .links  .separator{
  color: #000;
}

.footer .company,
.footer .links {
  margin: 5px;
}

.header .company {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer .company {
  margin-left: 0px;
}

.footer .company,
.header .company {
  letter-spacing: 0.5px;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .company b,
.header .company b {
  margin-left: 3px;
  color: #e63b22;
  font-weight: normal;
}

.footer .company .slogan,
.header .company .slogan {
  font-family: "Open Sans";
  font-size: 8px;
  margin-left: 5px;
  letter-spacing: 0px;
  color: var(--dark-gray-color-2);
  cursor: default;
}

.footer .company .slogan {
  display: block;
}

.footer .logo,
.header .logo {
  height: 38px;
  vertical-align: middle;
  top: -1px;
}

.footer .logo:not(svg),
.header .logo:not(svg) {
  padding: 5px;
}

.header .actions button {
  top: 0px;
  font-size: 12px;
  white-space: nowrap;
  /*overflow: hidden;*/
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  vertical-align: top;
  line-height: 18px;
  height: 34px;
  border: 1px solid transparent;
}

.header .actions button:hover {
  border-bottom-color: var(--separator-gray);
}

.header .actions button.logout {
  padding: 2px 4px;
  margin-left: 5px;
}

.header .actions button.logout img {
  height: 13px;
  top: 0.5px;
}

button.cta {
  background: #e65222;
  color: #fff;
  border: none;
}

button.cta:hover {
  background: #d64212;
  color: #fff;
}

button.cta:active {
  background: #c63202;
  color: #fff;
}

.header .actions {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .actions a[href*="csapjunk-bele"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.header .actions a[href*="csapjunk-bele"] button.not-logged-in-dependant {
  width: 100%;
}

@media (min-width: 1024px) {
  .header .actions {
    max-width: 1024px;
  }

  .header .actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .header .company {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

main [class*="request-specific-page-"] {
  margin-top: var(--nav-bar-height);
}

main .activity {
  background: var(--grey-color);
  padding: 20px 0px;
  font-family: "Open sans";
  color: var(--dark-gray-color);
  font-size: 0.9rem;
}

main .activity .presents {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .activity .stats {
    text-align: center;
  }
}

.how-it-works {
  padding-top: var(--section-y-padding);
  text-align: center;
  padding-bottom: var(--section-y-padding);
  font-size: 8.4px;
  line-height: 12px;
  overflow: hidden;
}

.how-it-works .flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 20px;
}

.how-it-works .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30ch;
  color: var(--dark-gray-color-2);
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
}

.how-it-works .step b {
  font-family: "Baloo Da 2";
  font-size: 1.1rem;
}

.how-it-works .step u {
  display: block;
  margin-top: 10px;
}

.how-it-works .step img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35px;
}

.how-it-works img[src*="arrow"] {
  opacity: 0.2;
  position: absolute;
  left: 21%;
  width: 80px;
  top: -24px;
}

.how-it-works img.second {
  left: 55.5%;
}

@media (min-width: 640px) {

  .how-it-works .step img{
    width: auto;
  }
  .how-it-works img[src*="arrow"] {
    left: 20%;
    width: 160px;
  }

  .how-it-works img.second {
    left: 53%;
  }

  .how-it-works .flow {
    padding-bottom: 23px;
  }
}

@media (min-width: 1024px) {
  .how-it-works {
    padding-top: 10px;
    padding-bottom: 45px;
    line-height: 23px;
    font-size: inherit;
  }

  .how-it-works .flow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .how-it-works .step {
    width: 215px;
    margin: 30px 57px;
  }

  .how-it-works .step:nth-of-type(1) {
    top: -10px;
  }

  .how-it-works .step:nth-of-type(2) {
    top: 25px;
  }

  .how-it-works .step:nth-of-type(3) {
    top: -10px;
  }

  .how-it-works img[src*="arrow"] {
    margin-left: 232px;
    margin-right: -40px;
    top: 32px;
    left: 0;
    width: auto;
    -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
            transform: rotate(12deg);
  }

  .how-it-works img[src*="arrow-inverted"] {
    top: 98px;
    left: 0;
    margin-left: 58%;
    -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
}

main .methodology .info-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  margin: auto;
}

main .methodology .info-card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
main .methodology .info-card-container .card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .methodology .info-card-container .card .text img {
  width: var(--logo-icon-height);
}

main .methodology .info-card-container .card .title {
  color: var(--dark-gray-color-2);
  text-align: left;
  display: inline-block;
  margin-left: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .methodology .info-card-container .card .title span {
  display: inline-block;
  width: 30ch;
}

main .methodology .info-card-container .card .description {
  font-family: "Open sans";
  font-size: 0.9rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: justify;
  max-width: 266px;
  padding-left: 3px;
}

main .methodology .confidence-boost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .methodology .confidence-boost > * {
  height: 38px;
}

main .methodology .confidence-boost img {
  width: var(--logo-icon-height);
}

main .methodology .confidence-boost .info {
  font-family: "Open sans";
  font-size: 1rem;
  text-align: center;
}

main .methodology .confidence-boost a[href*="#kapcsolat"] {
  z-index: 2;
}

button.contact:not(:hover):not(:active) {
  background: #fff;
}

@media (min-width: 640px) {

  main .methodology .info-card-container{
    max-width: none;
  }

  main .methodology .info-card-container .card .title span {
    display: inline-block;
    width: auto;
  }

  main .methodology .info-card-container .card .text{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  main .methodology .info-card-container .card .title{
    margin-left: 0;
  }

  main .methodology .info-card-container .card > img {
    margin-right: 15px;
    width: 64px;
  }

  main .methodology .info-card-container .card .title {
    width: auto;
    text-align: left;
  }

  main .methodology .info-card-container .card .description {
    text-align: left;
    max-width: none;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  main .methodology {
    padding-top: 10px;
  }

  main .methodology .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 65px;
  }

  main .methodology .page-content .h2-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  main .methodology .info-card-container {
    -ms-flex-preferred-size: 709px;
        flex-basis: 709px;
  }

  main .methodology .confidence-boost {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid var(--separator-gray);
    font-size: 1.1rem;
    padding-left: 20px;
    max-width: 25ch;
  }

  main .methodology .confidence-boost img {
    width: 70px;
  }
}

.spacer {
  display: block;
  height: 5px;
}

.spinner {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 200px;
  border: 1px solid transparent;
  height: var(--spinner-height);;
}

.spinner [data-spinner-state] {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  height: var(--spinner-height);
  position: absolute;
  /* left: 50%; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner [data-spinner-state].inactive {
  opacity: 0;
  pointer-events: none;
}

.spinner [data-spinner-state="loading"] svg {
  height: var(--spinner-height);
}

@media (min-width: 1024px) {
  .spinner {
    margin: 0px auto 100px auto;
    height: 230px;
  }
}

.window {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgb(230, 82, 34, 0.92);
  font-family: "Baloo 2";
  opacity: 0;
  pointer-events: none;
  -o-transition: all 0.5s ease-out 0.1s;
  transition: all 0.5s ease-out 0.1s;
  -webkit-transition: all 0.5s ease-out 0.1s;
  z-index: 500;
}

.window.active {
  opacity: 1;
  pointer-events: auto;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  cursor: pointer;
}

.window .window-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: auto;
}

@media (min-height: 800px) {
  .window .window-content-wrapper {
    top: 40%;
  }
}

.window .window-content-wrapper:before {
  position: absolute;
}

.window .window-content-wrapper .content {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  width: 340px;
  max-height: 90vh;
  overflow: auto;
  opacity: 0;
  -webkit-transform: translateY(-20px) scale(0.85);
      -ms-transform: translateY(-20px) scale(0.85);
          transform: translateY(-20px) scale(0.85);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.35),
    opacity 0.15s ease-out;
  transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.35),
    opacity 0.15s ease-out;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.35),
    opacity 0.15s ease-out;
}

.window.active .window-content-wrapper .content {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  overflow: hidden;
}

.window [src*="overlay-loading"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.window h3 {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  padding-top: 0px;
}

.window h3.separated {
  border-bottom: 1px solid #ccc;
}

.window h3 small {
  font-size: 13.6px;
  color: #868686;
  font-weight: normal;
}

.window label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.window a {
  color: #48e;
  text-decoration: none;
}

.window.menu [href="#csapjunk-bele"] {
  display: block;
}

.window.menu [href="#csapjunk-bele"] button {
  width: 100%;
  line-height: 2;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-option {
  display: inline-block;
  vertical-align: top;
  width: 137px;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #444;
  border-radius: 5px;
}

.contact-option:hover {
  background: #eef;
}

.contact-option img {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.contact-option:active img {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.partners details summary > div {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

.partners details {
  max-width: 80%;
  margin: 0px auto 10px auto;
}

.partners details > div {
  padding: 20px 0px;
}

.partners details summary {
  padding: 10px 20px;
  background: #eee;
}

.partners details summary:hover {
  background: #eef;
}

.partners details summary img {
  max-height: 20px;
}

.field .error-message {
  display: none;
}

.field.error .error-message {
  color: #b50324;
  font-size: 11.6px;
  padding: 1px;
  display: block;
  padding-bottom: 10px;
}

.field.tac.error .error-message {
  margin-bottom: 0px;
  top: -5px;
}

.field.error input {
  border-color: #b50324;
  color: #48010e;
}

.field {
  padding-top: 10px;
}

.field input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px;
}

.field.tac {
  font-size: 13px;
}

.field.tac label {
  padding: 10px 0px 0px 0px;
  font-size: 11.3px;
  display: block;
}

.field.tac.error {
  color: #b50324;
}

.field input[type="email"]:focus,
.field input[type="text"]:focus {
  /*outline-color:#ccc;*/
}

.field input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 10px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  top: -2px;
}

.window button.cta {
  width: 100%;
  padding: 15px 0px;
  font-size: 13px;
  margin: 15px 0px;
}

.window button.cta.secondary {
  border: 1px solid var(--separator-gray);
  color: var(--dark-gray-color-2);
  background: transparent;
}

.window button.cta.secondary.contain-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
}

.window button.cta.secondary.contain-icon span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: -20px;
}

.window button.cta img {
  height: 2em;
}


.marquee {
  --gap: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: var(--gap);
}

.marquee__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  -webkit-animation: scroll 15s linear infinite;
          animation: scroll 15s linear infinite;
  list-style: none;
  margin: 0;
  padding: 0;
}


@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
            transform: translateX(calc(-100% - var(--gap)));
  }
}


@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
            transform: translateX(calc(-100% - var(--gap)));
  }
}