html {
  min-width: 320px;
  overscroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Baloo Da 2", helvetica;
  margin: 0px;
  min-width: 320px;
  line-height: 26px;
  font-size: 19px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  color: #666;
}

body {
  font-size: 10px;
  line-height: 14px;
}

@media (min-width: 1024px) {
  body {
    font-size: 14px;
    line-height: 21px;
  }
}

button {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  font-family: "Open Sans";
}

button:focus {
  outline: none;
}

.block {
  display: block;
}

body:not(.logged-in) .logged-in-dependant {
  display: none !important;
}

body.logged-in .not-logged-in-dependant {
  display: none !important;
}

.no-pointer {
  pointer-events: none !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.button {
  user-select: none;
}

a {
  text-decoration: none;
}

a[href],
a.logout {
  cursor: pointer !important;
}

.packet-filter-hidden {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

[data-tooltip] {
  cursor: default;
}

body.load-transition-ready {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

body.unloading {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transform: none;
}

* {
  /*-webkit-overflow-scrolling: touch;*/
  position: relative;
  box-sizing: border-box;
  text-size-adjust: none;
}

h1,
h2 {
  margin: 0px;
  padding: 20px 0px;
}

p {
  margin: 0px;
  padding: 20px 0px;
}

img,
iframe {
  max-width: 100%;
}

a {
  color: inherit;
}

[data-click] {
  cursor: pointer;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

br.clear {
  clear: both;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

.center,
.description.center {
  text-align: center;
}

.prototype,
.hidden {
  display: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.half {
  width: 50%;
}

.zoom {
  cursor: zoom-in;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.zoomed-image {
  transition: all 0.1s ease-out !important;
  -webkit-transition: all 0.1s ease-out !important;
  transition-delay: 0s !important;
  cursor: zoom-out;
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.85);
  z-index: 340 !important;
}

.zoomed-image.active {
  transform: none;
}

.zoomed-image img {
  max-width: 80%;
  max-height: 80%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.page {
  z-index: 1;
}

.page-content {
  margin: 0px auto;
  max-width: 410px;
}

.page-content.possible-x-overflow {
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  .page-content {
    margin: 0px auto;
    max-width: 1024px;
  }
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  background: #f5f5f5;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}

@media (hover: hover) {
  button:hover {
    background: #eaeaea;
  }
}

button:active {
  background: #d5d5d5;
  transition: all 0.05s ease-out;
  -webkit-transition: all 0.05s ease-out;
}

button.cta {
  background: linear-gradient(
    141deg,
    rgba(249, 86, 179, 1) 0%,
    rgba(235, 123, 22, 1) 100%
  );
  border-bottom-color: #bd5c0e;
  color: #fff;
  z-index: 10;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (hover: hover) {
  button.cta:hover {
    /*background:rgba(235,123,22,1);*/
    background: linear-gradient(
      141deg,
      rgb(234 78 167) 0%,
      rgb(220 113 16) 100%
    );
  }
}

.app button.cta:active {
  /*background:rgba(215,103,02,1);*/
  background: linear-gradient(141deg, rgb(234 78 167) 0%, rgb(189 96 12) 100%);
  transform: scale(0.96);
}

.app button.cta:before,
.app button.cta:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 110%;
  left: -20%;
  opacity: 0.9;
  z-index: 1;
  background: transparent;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  pointer-events: none;
}

.app button.cta:before {
  display: none;
  top: -130%;
  background-image: radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f4637b 20%, transparent 30%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f4637b 15%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%);
  background-size: 10px 10px, 20px 20px, 15px 15px, 20px 20px, 18px 18px,
    10px 10px, 15px 15px, 10px 10px, 18px 18px;
}

.app button.cta:after {
  display: none;
  bottom: -100%;
  background-image: radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f4637b 15%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%),
    radial-gradient(circle, #f4637b 20%, transparent 20%);
  background-size: 15px 15px, 20px 20px, 18px 18px, 20px 20px, 15px 15px,
    10px 10px, 20px 20px;
}

@media (min-width: 1024px) {
  .app button.cta:before {
    background-size: 20px 20px, 40px 40px, 30px 30px, 40px 40px, 36px 36px,
      20px 20px, 30px 30px, 20px 20px, 36px 36px;
  }

  .app button.cta:after {
    background-size: 30px 30px, 40px 40px, 36px 36px, 40px 40px, 30px 30px,
      20px 20px, 40px 40px;
  }

  .app button.cta.next-step {
    line-height: 20px;
  }
}

.app button.cta.animate:before {
  display: block;
  animation: buttonTopBubbles ease-in-out 0.75s forwards;
}

.app button.cta.animate:after {
  display: block;
  animation: buttonBottomBubbles ease-in-out 0.75s forwards;
}

button.dark {
  background: inherit;
  color: #222;
}

@media (hover: hover) {
  button.dark:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
}

button.dark:active {
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 1023px) {
  button {
    padding: 7px 14px;
    font-size: 13px;
  }
}

/*button:before
{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    border-radius:inherit;
    content:"Egy pillanat...";
    background:inherit;
    padding:inherit;
    display:none;
}*/

a.loading {
  color: #888 !important;
  pointer-events: none;
  text-decoration: none;
}

button.loading {
  cursor: default;
  pointer-events: none;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

button.loading:before {
  display: block;
}

button.contact:not(:hover):not(:active) {
  background: #fff;
}

/* Ezt a szekciót emeljük át backend-re, mert statikusan elég redundáns */

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 1),
.general-transition-delay-stair:nth-child(1n + 1) {
  transition-delay: 0.15s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 2),
.general-transition-delay-stair:nth-child(1n + 2) {
  transition-delay: 0.2s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 3),
.general-transition-delay-stair:nth-child(1n + 3) {
  transition-delay: 0.25s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 4),
.general-transition-delay-stair:nth-child(1n + 4) {
  transition-delay: 0.3s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 5),
.general-transition-delay-stair:nth-child(1n + 5) {
  transition-delay: 0.35s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 6),
.general-transition-delay-stair:nth-child(1n + 6) {
  transition-delay: 0.4s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 7),
.general-transition-delay-stair:nth-child(1n + 7) {
  transition-delay: 0.45s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 8),
.general-transition-delay-stair:nth-child(1n + 8) {
  transition-delay: 0.5s !important;
}

body:not(.load-phase-done)
  .transition-delay-stair-during-load-phase:nth-child(1n + 9),
.general-transition-delay-stair:nth-child(1n + 9) {
  transition-delay: 0.55s !important;
}

@media (min-width: 1024px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 640px) {
  .mobile-non-tablet {
    display: none;
  }
}

@media (max-width: 639px) {
  .desktop-and-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-left {
    float: left;
  }

  .desktop-right {
    float: right;
  }
}

.toolbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
}

.toolbar .handle {
  height: 70px;
  width: 68px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.menu {
  height: 70px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  background: inherit;
}

.menu .handle .sticks {
  transform-origin: 50% 50%;
}

.menu .handle .stick {
  height: 3px;
  width: 100%;
  background: #fff;
  margin: 5px 1px;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transform-origin: 50% 50%;
}

.open-menu .main {
  left: 260px;
}

.open-menu .menu .handle .sticks {
  transform: scale(0.8);
}

.open-menu .menu .handle .stick:nth-child(1) {
  transform: translateY(9px) translateX(1px) rotate(-45deg);
}

.open-menu .menu .handle .stick:nth-child(2) {
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}

.open-menu .menu .handle .stick:nth-child(3) {
  transform: translateY(-7px) translateX(1px) rotate(45deg);
}

.navigation {
  line-height: 100px;
}

.navigation .logo {
  height: 100px;
  vertical-align: middle;
}

/* Hero */

.hero {
  color: #fff;
  /*background: rgb(249,86,179);
    background: linear-gradient(141deg, rgba(249,86,179,1) 0%, rgba(235,123,22,1) 100%);*/
  background: #344854;
  /*background:linear-gradient(180deg, #2e1804 0%, #4a2300 100%);*/
  background: #4a2300;
  padding-top: 62px;
  overflow: hidden;
}

.hero video {
  position: fixed;
  z-index: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.hero .page-content {
  padding: 20px 100px 50px 20px;
}

.hero h1 {
  padding-top: 0px;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.hero .social-icons {
  padding-bottom: 20px;
}

.hero .social-icons img {
  width: 30px;
  margin-right: 10px;
}

.hero .model {
  position: absolute;
  bottom: 50px;
  max-height: 55%;
  right: 19px;
  max-width: 691px;
  /*transform:rotate( -40deg );*/
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));
  /*animation:storkMobile 3s ease-in-out infinite alternate;*/
}

@media (max-width: 320px) {
  .hero .model {
    bottom: 60px;
    max-height: 45%;
    right: 13px;
  }
}

.page.lost-password .hero .model {
  animation: none !important;
  bottom: auto !important;
  top: 45% !important;
  transform: translateY(-50%) !important;
}

.page.kapcsolat .hero .model {
  zoom: 0.8;
}

.page.barion-fizetes-visszaigazolas .hero {
  background: linear-gradient(141deg, rgb(19 84 118) 0%, rgb(30 149 211) 100%);
}

.page.barion-fizetes-visszaigazolas .hero .model {
  zoom: 0.8;
}

.page.partnereink .hero .model {
  animation: none !important;
  bottom: 13%;
  transform: none !important;
  max-height: 88% !important;
}

[data-page]:not([data-page="home"]) .header .slogan:not(.hidden) {
  display: inline !important;
}

[data-page]:not([data-page="home"]) .header .home-only button {
  display: none !important;
}

.hero .discrete {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  padding: 0px 1px;
}

.hero button {
  margin-top: 10px;
  margin-right: 20px;
  text-transform: uppercase;
  background: #ffffff0f;
  color: #fff;
  border: none;
  font-family: "Baloo 2", helvetica;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  box-shadow: none;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.hero button:active {
  background: rgba(0, 0, 0, 0.1);
}

.hero button img {
  height: 8px;
  top: 1.5px;
  margin-right: 5px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}

@media (min-width: 1024px) {
  .hero h1 {
    font-size: 38px;
    line-height: 55px;
    padding-bottom: 20px;
  }

  .hero .page-content {
    padding: 100px 20px 170px 20px;
  }

  .hero .model {
    bottom: 20px;
    max-height: 90%;
    right: -30px;
    /*animation:storkDesktop 3s ease-in-out infinite alternate;*/
  }

  .page.profile .hero .model {
    bottom: calc(50% + 20px);
  }

  .hero button {
    margin-top: 29px;
    padding: 12px 30px;
    font-size: 17px;
    border-width: 2px;
  }

  /*.hero button:after
    {
        content: "";
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        pointer-events: none;
        border: 2px solid rgba( 255,255,255,0.3 );
        border-radius: 10px;
    }*/

  .hero button img {
    height: 18px;
    top: 4px;
    margin-right: 12px;
  }
}

h1,
h2 {
  font-family: "Baloo 2", helvetica;
}

.custom-shape-divider-bottom-1619960535 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619960535 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 53px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1619963648 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619963648 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 20px;
  transform: rotateY(180deg);
}

.shape-fill {
  fill: #fff;
}

.grey .shape-fill {
  fill: #f5f5f5;
}

.underlined {
  text-decoration: underline;
}

.page-content {
  padding: 0px 15px;
}

.how-it-works {
  padding: 0px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 8.4px;
  line-height: 12px;
  overflow: hidden;
}

.how-it-works .flow {
  margin-left: -15px;
  margin-right: -15px;
}

.how-it-works .step {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3 - 33px);
  color: #555;
  font-family: "Open Sans";
  font-size: 13px;
}

.how-it-works .step b {
  font-family: "Baloo Da 2";
  font-size: 15px;
}

.how-it-works .step u {
  display: block;
  margin-top: 10px;
}

.how-it-works .step:nth-of-type(1) {
  top: -5px;
}

.how-it-works .step:nth-of-type(2) {
  top: 5px;
}

.how-it-works .step:nth-of-type(3) {
  top: -5px;
}

.how-it-works .step img {
  height: 45px;
  padding-bottom: 10px;
}

.how-it-works img[src*="arrow"] {
  top: -10px;
  width: 64px;
  margin-left: -22px;
  margin-right: -22px;
  opacity: 0.2;
}

@media (min-width: 1024px) {
  .how-it-works {
    padding-top: 30px;
    padding-bottom: 70px;
    line-height: 23px;
    font-size: inherit;
  }

  .how-it-works .flow {
    margin-left: -55px;
    margin-right: -55px;
  }

  .how-it-works .step {
    width: 215px;
    margin: 30px 57px;
  }

  .how-it-works .step:nth-of-type(1) {
    top: -10px;
  }

  .how-it-works .step:nth-of-type(2) {
    top: 25px;
  }

  .how-it-works .step:nth-of-type(3) {
    top: -10px;
  }

  .how-it-works .step img {
    height: 96px;
    padding-bottom: 20px;
  }

  .how-it-works img[src*="arrow"] {
    width: 140px;
    margin-left: -40px;
    margin-right: -40px;
    top: 10px;
    left: 5px;
  }

  .how-it-works img[src*="arrow-inverted"] {
    top: 30px;
    left: -10px;
  }
}

/*
@media( min-width:1750px ){

    .how-it-works
    {
        padding-top:50px;
        padding-bottom:80px;
    }

}
*/

.grey-section {
  background: #f5f5f5;
  padding-top: 35px;
  text-shadow: 0px 1px 0px rgb(255 255 255 / 30%);
}

.h2-wrapper:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 74px;
  border-top: 1px solid #ccc;
}

h2 {
  font-size: 14px;
  margin-top: 20px;
  background: #f5f5f5;
  font-size: 12px;
  font-weight: normal;
  margin: 0px auto;
  max-width: 580px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}

h3 {
  margin: 0px;
  padding: 30px 0px;
}

.white-section h2 {
  background: #fff;
  margin-top: 30px;
}

h2 hr {
  margin: 5px auto;
  border: none;
  border-top: none;
  max-width: 15%;
}

.orange {
  color: #e63b22;
}

h2 span [src*="icons/fav"],
.orange [src*="icons/fav"] {
  height: 30px;
  top: 8px;
  left: 2px;
}

h2 small {
  font-size: 78%;
  text-transform: none;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }

  .grey-section {
    padding-top: 20px;
  }

  h2 {
    font-size: 19px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  h2 hr {
    margin: 5px auto;
  }
}

.orange-section {
  background: #e63b22;
  color: #fff;
}

.methodology {
  padding-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
}

.page {
  padding-top: 80px;
}

.methodology .timeline .card .title {
  color: #555;
}

.methodology .timeline .card > img {
  vertical-align: middle;
  width: 55px;
  padding: 20px;
}

.methodology .timeline .card .text {
  display: inline-block;
  max-width: calc(100% - 110px);
  vertical-align: middle;
}

.methodology .timeline .card .description {
  font-family: "Open sans";
  font-size: 90%;
}

.confidence-boost {
  text-align: center;
  font-family: "Open Sans";
}

.confidence-boost:after {
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 10px;
  right: 10px;
  top: 25px;
  z-index: 1;
  pointer-events: none;
}

.confidence-boost .icon {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: block;
  vertical-align: middle;
  z-index: 2;
  background: #f5f5f5;
}

.confidence-boost img {
  width: 70px;
  /*filter: grayscale(1);
    opacity: 0.2;*/
}

.confidence-boost .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 30%;
  color: #fff;
}

@media (min-width: 1024px) {
  .methodology {
    padding-bottom: 90px;
  }

  h2 {
    margin-bottom: 30px;
  }

  .methodology .timeline {
    max-width: calc(100% - 285px);
  }

  .methodology .timeline .card > img {
    width: 84px;
    padding-left: 0px;
  }

  .confidence-boost {
    /*padding-top:45px;*/
    max-width: 250px;
    text-align: center;
    font-size: 15px;
    color: #222;
    top: 5px;
    /*
        background: rgba( 255,255,255,0.6 );
        box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
        border-radius: 5px;
        */
    padding: 20px 20px 40px 20px;
    border-left: 1px solid #ccc;
    padding-right: 0px;
    padding-left: 40px;
  }

  .confidence-boost:after {
    display: none;
    top: 37px;
  }

  .confidence-boost .icon {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
  }

  .confidence-boost .info {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.image-section {
  padding-bottom: 50px;
}

.image-section .background {
  padding: 100px;
  background: url("media/storage.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}

.image-section .background .highlight > div {
  width: 57%;
}

.image-section .background .highlight .right {
  top: -2px;
  text-align: right;
  border-left: 2px solid #fff;
  width: 43%;
}

.image-section .background small {
  font-size: 19px;
}

.image-section .background:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(72, 35, 2, 0.85);
}

.page-content.grey-section-wrapper {
  padding: 0px 0px;
}

[data-scrollstop],
[id] {
  transition: all 0.3s ease-out;
}

[data-scrollstop].scroll-destination,
[id].scroll-destination {
  /*background-color: #fff9b2;
    transform:scale( 1.03 );*/
}

.activity {
  line-height: 35px;
  background: #f5f5f5;
  padding: 20px 0px;
  font-family: "Open sans";
  color: #7c7b7b;
  font-size: 90%;
}

.activity .stats:before {
  content: "";
  position: absolute;
  left: 790px;
  right: 0px;
  top: 18px;
  border-top: 1px solid #ccc;
}

button.main {
  padding: 20px 60px;
  width: 270px;
  margin: 0px auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(230 75 34) 0%,
    rgb(230 110 34) 100%
  );
  text-transform: uppercase;
  line-height: 30px;
  color: #fff;
  font-size: 17px;
  border-width: 2px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  font-family: "Baloo 2";
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

button.main img {
  height: 18px;
  top: 4px;
  margin-right: 12px;
}

button.main:hover {
  background: rgba(235, 123, 22, 1);
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(210 55 14) 0%,
    rgb(230 110 34) 100%
  );
}

button.main:active {
  background: rgba(215, 103, 02, 1);
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(196 41 0) 0%,
    rgb(230 110 34) 100%
  );
}

button.main .border-decoration {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 4px;
  left: 5px;
  right: 5px;
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

@keyframes buttonTopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
    opacity: 1;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes buttonBottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
    opacity: 0;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
    opacity: 1;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

button:before,
button:after {
  position: absolute;
  content: "";
  display: block;
  width: 150%;
  height: 200%;
  left: -25%;
  opacity: 0.9;
  z-index: 0;
  background: transparent;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  pointer-events: none;
}

button:before {
  display: none;
  top: -110%;
  background-image: radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #e65222 20%, transparent 30%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%);
  background-size: 10px 10px, 20px 20px, 15px 15px, 20px 20px, 18px 18px,
    10px 10px, 15px 15px, 10px 10px, 18px 18px;
}

button:after {
  display: none;
  bottom: -110%;
  background-image: radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #e65222 15%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%),
    radial-gradient(circle, #e65222 20%, transparent 20%);
  background-size: 15px 15px, 20px 20px, 18px 18px, 20px 20px, 15px 15px,
    10px 10px, 20px 20px;
}

@media (min-width: 1024px) {
  button:before {
    background-size: 20px 20px, 40px 40px, 30px 30px, 40px 40px, 36px 36px,
      20px 20px, 30px 30px, 20px 20px, 36px 36px;
  }

  button:after {
    background-size: 30px 30px, 40px 40px, 36px 36px, 40px 40px, 30px 30px,
      20px 20px, 40px 40px;
  }
}

button.animate:before {
  display: block;
  animation: buttonTopBubbles ease-out 0.75s forwards;
}

button.animate:after {
  display: block;
  animation: buttonBottomBubbles ease-out 0.75s forwards;
}

/* Header, footer, subpages */

.footer,
.header {
  background: #fff;
  color: #222;
  padding: 10px 0px;
  font-family: "Baloo 2";
  z-index: 40;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.footer .logo,
.header .logo {
  height: 38px;
  vertical-align: middle;
  top: -1px;
  margin-right: 10px;
}

.footer .logo:not(svg),
.header .logo:not(svg) {
  padding: 5px;
  top: 1px;
}

.footer .company,
.footer .links {
  margin: 15px 5px;
}

.header .company {
  user-select: none;
}

.footer .company {
  margin-left: 0px;
}

.footer .company,
.header .company {
  letter-spacing: 0.5px;
  font-size: 16px;
}

.footer .company b,
.header .company b {
  margin-left: 3px;
  color: #e63b22;
  font-weight: normal;
}

.footer .company .slogan,
.header .company .slogan {
  font-family: "Open Sans";
  font-size: 8px;
  margin-left: 5px;
  letter-spacing: 0px;
  color: #555;
  cursor: default;
}

.footer .links .separator {
  color: #777;
  margin: 0px 10px;
  font-size: 10px;
  top: -1px;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .company .slogan {
  display: block;
  margin-top: 10px;
}

.footer .company span {
  /*color: #f56086;
    margin-left:7px;*/
}

@media (min-width: 1024px) {
  .footer img[src*="barion"] {
    vertical-align: middle;
    margin-left: 2px;
    top: -1px;
  }
}

.header {
  padding: 20px 0px;
  overflow: hidden;
  z-index: 101;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

[data-classlist-inherited-from-page-element*="home"] .header {
  overflow: visible;
}

.header .actions {
  margin-top: 5px;
}

.header .actions button {
  max-width: 135px;
  top: 0px;
  font-size: 12px;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  vertical-align: top;
  line-height: 18px;
  height: 34px;
  border: 1px solid transparent;
}

.header .actions button:hover {
  border-bottom-color: #ccc;
}

.header .actions button.logout {
  padding: 2px 4px;
  margin-left: 5px;
}

.header .actions button.logout img {
  height: 13px;
  top: 0.5px;
}

button.cta {
  /*
    background:#e65222;
    color: #fff;
    */
  color: #e65222;
  background: transparent;
  border: 1px solid #e65222;
}

button.cta.dark {
  background: #e65222;
  color: #fff;
  border: none;
}

.header button.cta.dark {
  margin-left: 10px;
}

button.cta:hover {
  background: #d64212;
  color: #fff;
}

button.cta:active {
  background: #c63202;
  color: #fff;
}

button.discrete-cta {
  background: #f5f5f5;
}

button.discrete-cta:hover {
  background: #d64212;
  color: #fff;
}

button.discrete-cta:active {
  background: #c63202;
  color: #fff;
}

@media (min-width: 1023px) {
  .footer,
  .header {
    z-index: 2;
  }

  .footer .company .slogan,
  .header .company .slogan {
    font-size: 12px;
    margin-left: 20px;
  }

  .footer .company .slogan {
    display: inline;
    margin-top: 0px;
  }

  .header .actions {
    margin-top: 0px;
  }

  .header .actions button {
    max-width: 400px;
  }

  .header .actions button.logout {
    padding: 4px 6px;
    margin-left: 10px;
  }

  .header .actions button.logout img {
    height: 18px;
    top: 1.5px;
  }

  .footer .links {
    top: 9px;
  }

  .footer .company span {
    /*margin-left:20px;*/
  }

  .footer .logo:not(svg),
  .header .logo:not(svg) {
    padding: 3px;
    top: -2px;
  }
}

@media (max-width: 400px) {
  .header .company .slogan {
    font-size: 7px;
  }
}

@media (max-width: 360px) {
  .header .company .slogan {
    display: none;
  }
}

input[name="code"] {
  text-transform: uppercase;
}

.white-section {
  background: #fff;
}

#fb-root {
  z-index: 30;
}

.window {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgb(230, 82, 34, 0.92);
  font-family: "Baloo 2";
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out 0.1s;
  -webkit-transition: all 0.5s ease-out 0.1s;
  z-index: 500;
}

.window.active {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.window .window-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-height: 800px) {
  .window .window-content-wrapper {
    top: 40%;
  }
}

.window .window-content-wrapper:before {
  position: absolute;
}

.window .window-content-wrapper .content {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  width: 340px;
  max-height: 90vh;
  overflow: auto;
  opacity: 0;
  transform: translateY(-20px) scale(0.85);
  transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.35),
    opacity 0.15s ease-out;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.35),
    opacity 0.15s ease-out;
}

.window.active .window-content-wrapper .content {
  opacity: 1;
  transform: none;
  overflow: hidden;
}

.window [src*="overlay-loading"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.window h3 {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 8px;
  padding-top: 0px;
}

.window h3.separated {
  border-bottom: 1px solid #ccc;
}

.window h3 small {
  font-size: 13.6px;
  color: #868686;
  font-weight: normal;
}

.window label {
  user-select: none;
}

.window a {
  color: #48e;
  text-decoration: none;
}

.field {
  padding-top: 10px;
}

.field input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px;
}

.field.tac {
  font-size: 13px;
}

.field.tac label {
  padding: 10px 0px 20px 0px;
  font-size: 11.3px;
  display: block;
}

.field.tac.error {
  color: #b50324;
}

.field input[type="email"]:focus,
.field input[type="text"]:focus {
  /*outline-color:#ccc;*/
}

.field input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 10px;
  transform: scale(1.5);
  top: -2px;
}

.window button.cta {
  width: 100%;
  padding: 15px 0px;
  font-size: 13px;
}

.window [data-method="login"] button.cta {
  margin-top: 25px;
}

.window .functionality-switch {
  font-size: 12px;
  padding: 12px 0px 0px 0px;
  color: #777;
  top: 7px;
}

.window .functionality-switch a {
  margin-left: 5px;
}

.arrow-character {
  top: -1px;
}

.window .ticket-sale img {
  left: -6px;
  top: 6px;
  width: 50px;
}

.window .ticket-sale {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.window .ticket-sale .text {
  width: calc(100% - 120px);
  padding-top: 11px;
  padding-left: 18px;
  color: #f4637e;
}

.window .ticket-sale .price {
  padding-top: 11px;
}

.window .ticket-sale .price .strike {
  color: #bbb;
}

.window .ticket-sale .price .strike:after {
  content: "";
  border-top: 1px solid #f4637e;
  transform: rotate(-8deg);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10.5px;
}

.window .description {
  color: #000;
  font-family: "Open sans";
  font-size: 11.1px;
  line-height: 16px;
}

.window .description ul {
  padding-left: 15px;
}

.window img[src*="paypal"],
.window img[src*="barion"] {
  margin-top: 20px;
  /*margin-bottom:-10px;
    transform:scale( 0.83 );*/
}

.field .error-message {
  display: none;
}

.field.error .error-message {
  color: #b50324;
  font-size: 11.6px;
  padding: 1px;
  display: block;
  padding-bottom: 10px;
}

.field.tac.error .error-message {
  margin-bottom: 0px;
  top: -5px;
}

.field.error input {
  border-color: #b50324;
  color: #48010e;
}

.lost-password .recovery-form {
  min-height: calc(100vh - 417px);
  padding-bottom: 50px;
  margin: 0px auto;
  width: 220px;
}

.lost-password .actions {
  margin-top: 20px;
  line-height: 35px;
}

.lost-password .actions button {
  font-size: 11px;
  padding: 7px 10px;
}

.lost-password .actions .kapcsolat:not(:hover):not(:active) {
  background: #e4e4e4;
}

.lost-password .recovery-form .error-message {
  padding-bottom: 10px;
}

.lost-password .recovery-form .done-recovery-notice {
  display: none;
  padding: 20px;
  border: 1px solid #f36572;
  font-size: 16px;
  font-family: "Baloo 2";
  color: #de5869;
  top: 30px;
}

.lost-password .recovery-form.done .done-recovery-notice {
  display: block;
}

.lost-password .recovery-form.done .field,
.lost-password .recovery-form.done .actions {
  display: none;
}

@media (min-width: 1024px) {
  .lost-password .recovery-form {
    min-height: calc(100vh - 657px);
    width: 388px;
  }

  .lost-password .actions button {
    font-size: 12px;
    padding: 10px 40px;
  }
}

.quiz-list .items {
  margin-left: -11px;
  margin-right: -11px;
  padding-bottom: 50px;
}

.quiz-list .item {
  width: 317px;
  display: inline-block;
  margin: 15px 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.quiz-list .item .preview {
  overflow: hidden;
  background: #222;
  height: 180px;
}

.quiz-list .item .preview img.blur-background {
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.quiz-list .item .preview img.logo {
  width: 70%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.quiz-list .item .item-content {
  padding: 20px;
  text-align: left;
  font-family: "Open Sans";
}

.quiz-list .item .item-content .data {
  font-family: "Baloo Da 2";
}

.quiz-list .item .item-content .data img {
  vertical-align: middle;
  height: 10px;
}

.quiz-list .item .description {
  font-size: 12.5px;
  line-height: 18px;
  font-style: italic;
  color: #888;
  background: #f5f5f5;
  padding: 10px 12px;
  margin-top: 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.quiz-list .item button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.quiz-list .item .description:before {
  content: "“";
}

.quiz-list .item .description:after {
  content: " ”";
}

.spinner {
  margin: 00px auto 100px auto;
  width: 350px;
  height: 230px;
  transition: all 0.3s ease-out;
  border-radius: 200px;
  border: 1px solid transparent;
}

.spinner [data-spinner-state] {
  transition: all 0.5s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.spinner [data-spinner-state].inactive {
  opacity: 0;
  /*transform:scale( 1.2 ) translate( -50%, -50% );*/
  pointer-events: none;
}

.spin-section.scroll-destination
  .spinner[data-spinner-state-projection]:not(
    [data-spinner-state-projection="ready"]
  ) {
  transform: scale(1.2);
  /*border:1px solid #f65222;*/
  background: #fff0eb;
}

.contact-option {
  display: inline-block;
  vertical-align: top;
  width: 137px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  color: #444;
  border-radius: 5px;
}

.contact-option:hover {
  background: #eef;
}

.contact-option img {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: all 0.15s ease-out;
}

.contact-option:active img {
  transform: scale(0.9);
}

.partners details summary > div {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

.partners details {
  max-width: 80%;
  margin: 0px auto 10px auto;
}

.partners details > div {
  padding: 20px 0px;
}

.partners details summary {
  padding: 10px 20px;
  background: #eee;
}

.partners details summary:hover {
  background: #eef;
}

.partners details summary img {
  max-height: 20px;
}

.quiz .quiz-title img {
  height: 100px;
  max-width: 300px;
  object-fit: contain;
  vertical-align: middle;
}

.quiz-data {
  padding: 14px 0px;
}

.quiz-data .tile {
  /*background:#f5f5f5;*/
  border: 1px solid #eee;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 30px;
  padding: 10px 20px;
  width: 138px;
  color: #666;
}

.quiz-data .tile.quiz-title {
  background: none;
  border-color: transparent;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.quiz-data .tile .dark {
  color: #333;
}

.quiz-data .tile .label {
  font-family: "Open Sans";
  font-size: 12px;
}
